RewriteRule ^/(aac|ac|acs|aed|al|ase|asi|bd|cc|cd|cf|cg|cgest|cm|cn)$    /index.html [L]
RewriteRule ^/(comp|cont|cr|cr2|cvr|dm|ds|ds|ert|es|fe|ff|fp|fpr|fsi|ft)$    /index.html [L]
RewriteRule ^/EscolheCurso(.*)$    /index.html [L]
RewriteRule ^/pergunta(.*)$    /index.html [L]
RewriteRule ^/pagina(.*)$    /index.html [L]
RewriteRule ^/professor(.*)$    /index.html [L]
RewriteRule ^/card(.*)$    /index.html [L]
RewriteRule ^/final(.*)$    /index.html [L]
