RewriteRule ^/_(.*)$    /index.html [L]
RewriteRule ^/EscolheCurso(.*)$    /index.html [L]
RewriteRule ^/pergunta(.*)$    /index.html [L]
RewriteRule ^/pagina(.*)$    /index.html [L]
RewriteRule ^/professor(.*)$    /index.html [L]
RewriteRule ^/card(.*)$    /index.html [L]
RewriteRule ^/final(.*)$    /index.html [L]
