<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-with, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Admin</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Link</th>
                    <th>Num respostas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="d : ${result}">
                    <td th:text="${d.getNome()}"></td>
                    <td>
                        <a th:href="${'https://deisi.ulusofona.pt/inqueritos/_' + d.getCodigo()}"
                           th:text="${'https://deisi.ulusofona.pt/inqueritos/_' + d.getCodigo()}" />
                    </td>
                    <td th:text="${d.getNumRespostas()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>